################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wsep_14a2/v15/.suo
/eCommerce_14a/TestingSystem/obj/Release/TestingSystem.csproj.CoreCompileInputs.cache
/.vs/wsep_14a/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
eCommerce_14a/.vs
eCommerce_14a/bin
eCommerce_14a/obj
eCommerce_14a/TestingSystem/bin
eCommerce_14a/TestingSystem/obj
eCommerce_14a/eCommerce_14a/bin
eCommerce_14a/eCommerce_14a/obj
/eCommerce_14a/Server/bin/Debug
/eCommerce_14a/Server/obj/Debug
