@page "/ManageStore/{storeid:int}"

<h3>Mange Store</h3>

@code {

    [Parameter]
    public int StoreId { get; set; }
    public StoreData Store { get; set; }

    protected override void OnInitialized()
    {

    }

}