@page "/ShoppingCart"
<h3>ShoppingCart</h3>
<ErrorMessage ErrorMsg="@Error"/>
@if (Cart != null)
{
    @if (Cart.baskets.Count == 0)
    {
        <p>You didn't buy anything yet :(</p>
    }
    else
    {
        @foreach (PurchaseBasketData basketData in Cart.baskets)
        {
            <PurchaseBasket purchaseBasket="@basketData" Modifiable="true"></PurchaseBasket>
            <br />
        }
    }
}


@code {
    public CartData Cart { get; set; }
    public string Error { get; set; }
    protected async override Task OnInitializedAsync()
    {
        GetUsersCartResponse response = await service.GetCart("admin");
        Cart = response.Cart;
        if (Cart is null)
        {
            Error = "";
        }
    }
}
