@if (IsVisible)
{
    <div class="col-10 alert alert-danger row">
        <div class="col-11" style="text-align:left">
            <span>@ErrorMsg</span>
        </div>
        <div class="col-1" style="text-align:right">
            <a style="text-underline-position:below; cursor:pointer" @onclick="@(() => ErrorMsg = "")" >x</a>
        </div>
    </div>
}


@code {
    [Parameter]
    public string ErrorMsg { get; set; }

    public bool IsVisible
    {
        get { return !String.IsNullOrWhiteSpace(ErrorMsg); }
    }
}
