@inject Client.Service.ECommerce14AService service
@inject NotifierService notifier
@implements IDisposable

<a href="/notifications">You have @NotificationCount notifications</a>


@code {
    public int NotificationCount { get; set; }

    protected override void OnInitialized()
    {
        notifier.Notify += OnNotify;
        NotificationCount = notifier.notifications.Count;
    }


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return service.GetNotifications(notifier);
    }


    public async Task OnNotify(int count)
    {
        await InvokeAsync(() =>
        {
            NotificationCount = count;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        notifier.Notify -= OnNotify;
    }
}
