@inject Client.Service.ECommerce14AService service
@implements IDisposable

<a href="/notifications">You have @NotificationCount notifications</a>


@code {
    private NotifierService notifier;
    public int NotificationCount { get; set; }

    protected override void OnInitialized()
    {
        notifier = service.NotifierService;
        notifier.NotifyReceived += OnNotify;
        notifier.NotifyRemoved += OnRemoveNotify;
        NotificationCount = 0;
    }


    public async Task OnNotify(string notification)
    {
        await InvokeAsync(() =>
        {
            NotificationCount++;
            StateHasChanged();
        });
    }

    public async Task OnRemoveNotify()
    {
        await InvokeAsync(() =>
        {
            NotificationCount--;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        notifier.NotifyReceived -= OnNotify;
        notifier.NotifyRemoved -= OnRemoveNotify;
    }
}
