<td><a href=Stores/@StoreId/@Product.ProductId>@Product.Name</a></td>
<td>@Product.Category</td>
<td>@Product.Details</td>
<td>@Product.Price</td>


@code {
    [Parameter]
    public int StoreId { get; set; }
    [Parameter]
    public ProductData Product { get; set; }
}
